<div id="book-page">
  <div class="container">
    <h1>{{book.title}}</h1>
    <p>Este livro tem {{book.pageqty}} páginas.</p>
    <div class="botoes-div">
      <a class="botao" href="/books">Voltar</a>
      <a class="editar botao" href="/books/edit/{{book.id}}">EDITAR</a>
    </div>

    
  </div>
</div>