<h1>Cadastre o seu livro</h1>
<form class="formulario" action="/books/insertbook" method="post">
  <div class="form-control">
    <label for="title">Título:</label>
    <input type="text" name="title" id="title" placeholder="Digite o título">
  </div>
  <div class="form-control">
    <label for="pageqty">Número de páginas:</label>
    <input type="text" name="pageqty" id="pageqty" placeholder="Quantidade de páginas">
  </div>
  <button class="cadastrar botao" type="submit" value="Cadastrar">Cadastrar</button>
</form>