*{
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

#navbar{
  width: 100%;
  padding: 1.5em;
  background-color: aqua;
  border-bottom: 1px solid #ccc;
  display: grid;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}
#navbar ul{
  display: flex;
  gap: 30px;
  list-style: none;
}
#navbar a{
  color: black;
  font-weight: 700;
text-decoration: none;
}
h1{
  text-align: center;
  padding: 40px 0;
  font-size: 30px;
  width: 100%;
}

.formulario,.books-container,#book-page{
  width: 300px;
  margin: 0 auto;
  display: grid;
  justify-content: center;
  gap: 16px;
}
.formulario2{
  display: flex;
  flex-direction: column;
  width: 300px;
  margin: 0 auto;
  height: 200px;
  gap: 20px 0px;
}
.books-container{
  gap: 0;
  box-sizing: border-box;
}
.form-control{
  display: grid;
  grid-template-columns: 150px 150px;
  gap: 10px;
  align-items: center;
}

input{
  padding: 0.3rem;
}
@media (min-width:500px) {
  .formulario,.books-container,#book-page{
    width: 450px;
  }
  .form-control{
    grid-template-columns: 150px 200px;
  }
}

/* BOOKS */

.divs-container{
  width: 300px;
  border-bottom: 1px solid #ccc;
  display: grid;
  grid-template-columns: max-content 150px 100px;
  justify-content: center;
  align-items: center;
  gap:0px 10px;
  padding: 5px;
  margin: 5px;
}
.divs-container span {
  padding: 8px 0;
}
.botoes-div{
  grid-column: 1/-1;
  margin: 0 auto;
}
.formularioEdit {
  display: grid;
  grid-template-columns: max-content 150px 100px;
  align-items: center;
  gap:4px 20px;
  width: 330px;
}


@media (min-width:550px) {
  .books-container{
    width: 500px;
  }
  .divs-container{
    width: 450px;
    grid-template-columns: max-content 100px 100px max-content;
    gap:0px 20px;
    padding: 5px;
    margin: 5px;
  }
  .botoes-div{
    grid-column: 5;
    margin: 0;
  }
  .formularioEdit {
    display: grid;
    grid-template-columns: max-content 150px 100px max-content;
    align-items: center;
    gap:4px 20px;
    width: 330px;
  }
}

.bold{
  font-weight: 700;
}

.botao{
  cursor: pointer;
  display: block;
  background-color: #e7e7e7;
  border: 1px solid rgba(0, 0, 0, 0.4);
  text-decoration: none;
  font-weight: 700;
  color: black;
  padding: 16px 8px;
  margin: 0 auto;
  margin-top: 20px;
  text-transform: uppercase;
}

.botao:hover{
  background-color: #ccc;
}

.botoes-div{
  display: flex;
  gap:0 20px;
}

.deletar.botao{
  width: max-content;
  display: block;
  justify-self: end;
  padding: 6px 16px;
  margin-top: 0;

} 


/* BOOK */
#book-page{
  padding: 2em;
}
#book-page .container{
  text-align: center;
}